# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.hot-path-ep9.iml
/projectSettingsUpdater.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
